
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/profile.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/js/script.js"></script>
</head>

<body>

    <div class="main-container">

        <!-- profile starts-->
        <div class="container column1">
            <div class="row">
                <div class="col-md-4 static">
                    <div class="profile-card">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" class="profile-photo">
                        <h5><a href="#" class="text-white">{{name}} {{last}}</a></h5>
                        <a href="#" class="text-white"><i class="fa fa-user"></i> 1,299 followers</a>
                    </div>
                    <!--profile card ends-->
                    <ul class="nav-news-feed">
                        <li><i class="fa fa-list-alt icon1"></i>
                            <div><a href="#">My Newsfeed</a></div>
                        </li>
                        <li><i class="fa fa-users icon2"></i>
                            <div><a href="#">People Nearby</a></div>
                        </li>
                        <li><i class="fa fa-user icon3"></i>
                            <div><a href="#">Friends</a></div>
                        </li>
                        <li><i class="fa fa-comments icon4"></i>
                            <div><a href="#">Messages</a></div>
                        </li>
                        <li><i class="fa fa-picture-o icon5"></i>
                            <div><a href="#">Images</a></div>
                        </li>
                        <li><i class="fa fa-video-camera icon6"></i>
                            <div><a href="#">Videos</a></div>
                        </li>
                    </ul>
                    <!--news-feed links ends-->
                    <div id="chat-block">
                        <div class="title">Chat online</div>
                        <ul class="online-users list-inline">
                            <li><a href="#" title="Linda Lohan"><img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                        alt="user" class="img-responsive profile-photo"><span class="online-dot"></span></a></li>
                            <li><a href="#" title="Sophia Lee"><img src="https://bootdey.com/img/Content/avatar/avatar6.png"
                                        alt="user" class="img-responsive profile-photo"><span class="online-dot"></span></a></li>
                            <li><a href="#" title="John Doe"><img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                        alt="user" class="img-responsive profile-photo"><span class="online-dot"></span></a></li>
                            <li><a href="#" title="Alexis Clark"><img src="https://bootdey.com/img/Content/avatar/avatar5.png"
                                        alt="user" class="img-responsive profile-photo"><span class="online-dot"></span></a></li>
                            <li><a href="#" title="James Carter"><img src="https://bootdey.com/img/Content/avatar/avatar4.png"
                                        alt="user" class="img-responsive profile-photo"><span class="online-dot"></span></a></li>
                            <li><a href="#" title="Robert Cook"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                        alt="user" class="img-responsive profile-photo"><span class="online-dot"></span></a></li>
                            <li><a href="#" title="Richard Bell"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                        alt="user" class="img-responsive profile-photo"><span class="online-dot"></span></a></li>
                            <li><a href="#" title="Anna Young"><img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                        alt="user" class="img-responsive profile-photo"><span class="online-dot"></span></a></li>
                            <li><a href="#" title="Julia Cox"><img src="https://bootdey.com/img/Content/avatar/avatar6.png"
                                        alt="user" class="img-responsive profile-photo"><span class="online-dot"></span></a></li>
                        </ul>
                    </div>
                    <!--chat block ends-->
                </div>
            </div>
        </div>
        <!-- profile ends -->

        <div class="column2">
            <div class="container page-container">
                <h1 class="upcoming-title">My Upcoming Events</h1>
                <div class="row gutters">

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
                        <figure class="user-card green">
                            <figcaption>
                                <img src="https://img.icons8.com/color/96/000000/food-and-wine.png">
                                <h5>{{fr1}}</h5>
                                <h6>@movies</h6>
                                <p>On the 28th of October 2016 we completed a 3-part transaction with the contractor.</p>
                                <ul class="contacts">

                                    <li>
                                        <a href="#">
                                            www.bootdey.com
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix">
                                    <span class="badge badge-pill badge-info">#HTML5</span>
                                    <span class="badge badge-pill badge-success">#CSS3</span>
                                    <span class="badge badge-pill badge-orange">#Angular JS</span>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
                        <figure class="user-card blue">
                            <figcaption>
                                <img src="https://img.icons8.com/color/96/000000/hamburger.png">
                                <h5>Amelia</h5>
                                <h6>@hollywood</h6>
                                <p>On the 28th of October 2016 we completed a 3-part transaction with the contractor.</p>
                                <ul class="contacts">

                                    <li>
                                        <a href="#">
                                            www.bootdey.com
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix">
                                    <span class="badge badge-pill badge-info">#HTML5</span>
                                    <span class="badge badge-pill badge-success">#CSS3</span>
                                    <span class="badge badge-pill badge-orange">#Angular JS</span>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
                        <figure class="user-card pink">
                            <figcaption>
                                <img src="https://img.icons8.com/color/96/000000/mcdonalds.png">
                                <h5>Emma</h5>
                                <h6>@star</h6>
                                <p>On the 28th of October 2016 we completed a 3-part transaction with the contractor.</p>
                                <ul class="contacts">

                                    <li>
                                        <a href="#">
                                            www.bootdey.com
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix">
                                    <span class="badge badge-pill badge-info">#HTML5</span>
                                    <span class="badge badge-pill badge-success">#CSS3</span>
                                    <span class="badge badge-pill badge-orange">#Angular JS</span>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
                        <figure class="user-card brown">
                            <figcaption>
                                <img src="https://img.icons8.com/color/96/000000/spaghetti.png">
                                <h5>Olivia</h5>
                                <h6>@business</h6>
                                <p>On the 28th of October 2016 we completed a 3-part transaction with the contractor.</p>
                                <ul class="contacts">

                                    <li>
                                        <a href="#">
                                            www.bootdey.com
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix">
                                    <span class="badge badge-pill badge-info">#HTML5</span>
                                    <span class="badge badge-pill badge-success">#CSS3</span>
                                    <span class="badge badge-pill badge-orange">#Angular JS</span>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
                        <figure class="user-card fb">
                            <figcaption>
                                <img src="https://img.icons8.com/color/96/000000/rice-bowl.png">
                                <h5>Harry</h5>
                                <h6>@writer</h6>
                                <p>On the 28th of October 2016 we completed a 3-part transaction with the contractor.</p>
                                <ul class="contacts">

                                    <li>
                                        <a href="#">
                                            www.bootdey.com
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix">
                                    <span class="badge badge-pill badge-info">#HTML5</span>
                                    <span class="badge badge-pill badge-success">#CSS3</span>
                                    <span class="badge badge-pill badge-orange">#Angular JS</span>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
                        <figure class="user-card green">
                            <figcaption>
                                <img src="https://img.icons8.com/color/96/000000/wrap.png">
                                <h5>George</h5>
                                <h6>@tester</h6>
                                <p>On the 28th of October 2016 we completed a 3-part transaction with the contractor.</p>
                                <ul class="contacts">

                                    <li>
                                        <a href="#">
                                            www.bootdey.com
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix">
                                    <span class="badge badge-pill badge-info">#HTML5</span>
                                    <span class="badge badge-pill badge-success">#CSS3</span>
                                    <span class="badge badge-pill badge-orange">#Angular JS</span>
                                </div>
                            </figcaption>
                        </figure>
                    </div>


                </div>
            </div>
        </div>



        <div class="column3">

            <button type="button" onclick="gohide()" class="btn btn-primary book-btn">Go For Lunch</button>
            <div class="month">
                <ul>
                    <li class="prev">&#10094;</li>
                    <li class="next">&#10095;</li>
                    <li>January<br><span style="font-size:18px">2019</span></li>
                </ul>
            </div>

            <ul class="weekdays">
                <li>Mo</li>
                <li>Tu</li>
                <li>We</li>
                <li>Th</li>
                <li>Fr</li>
                <li>Sa</li>
                <li>Su</li>
            </ul>

            <ul class="days">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
            </ul>

            <ul class="days">
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
            </ul>

            <ul class="days">
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
            </ul>

            <ul class="days">
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>

            </ul>

<div id="container" class="hidden">
<h3 class="ppl-title">People you might want to meet with:</h3>

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
            <figure class="user-card green">
                <figcaption>
                    <img class="avatar" src="http://bootdey.com/img/Content/avatar/avatar1.png">
                    <h5>{{fr2}}</h5>
                    <h6>@movies</h6>
                    <p>On the 28th of October 2016 we completed a 3-part transaction with the contractor.</p>
                    <ul class="contacts">

                        <li>
                            <a href="#">
                                www.bootdey.com
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix">
                        <span class="badge badge-pill badge-info">#HTML5</span>
                        <span class="badge badge-pill badge-success">#CSS3</span>
                        <span class="badge badge-pill badge-orange">#Angular JS</span>
                    </div>
                </figcaption>
            </figure>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
                <figure class="user-card green">
                    <figcaption>
                        <img class="avatar" src="http://bootdey.com/img/Content/avatar/avatar2.png">
                        <h5>{{fr3}}</h5>
                        <h6>@movies</h6>
                        <p>On the 28th of October 2016 we completed a 3-part transaction with the contractor.</p>
                        <ul class="contacts">

                            <li>
                                <a href="#">
                                    www.bootdey.com
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix">
                            <span class="badge badge-pill badge-info">#HTML5</span>
                            <span class="badge badge-pill badge-success">#CSS3</span>
                            <span class="badge badge-pill badge-orange">#Angular JS</span>
                        </div>
                    </figcaption>
                </figure>
            </div>

</div>

        </div>



    </div>


</body>

</html>